body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }
  
  #searchContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  #locationInput {
    margin-right: 10px;
  }
  
  #searchButton {
    cursor: pointer;
  }
  
  #restaurantList {
    list-style-type: none;
    padding: 0;
}

.restaurant-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.restaurant-item h2 {
    margin: 0;
}

.restaurant-item p {
    margin: 5px 0;
}
