body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #searchContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  #locationInput {
    margin-right: 10px;
  }
  
  #searchButton {
    cursor: pointer;
  }
  